.custom-body {
  background-color: rgba(0, 0, 0, 0.9);
  background-image: linear-gradient(
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0)
  );
  overflow: hidden;
}

.custom-title {
  background-color: rgba(0, 0, 0);
}

.black-button {
  background-color: rgba(0, 0, 0, 0.8) !important;
  background-image: linear-gradient(
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0)
  ) !important ;
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  color: white !important;
  font-size: 1.5rem;
  font-weight: bold;
  padding-left: 1rem;
  padding-right: 1rem;
  text-decoration: none;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  transition: all 1s ease-in-out;
}

.grass-button {
  background: linear-gradient(45deg, #d5ff00, #057a26) !important;
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  color: white !important;
  font-size: 1.5rem;
  font-weight: bold;
  padding-left: 1rem;
  padding-right: 1rem;
  text-decoration: none;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  transition: all 1s ease-in-out;
}
